<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Separated Changes Category"
            id="checker.framework.separated.view">
      </category>
      <view
            name="Separated Changes View"
            icon="icons/sample.gif"
            category="checker.framework.separated.view"
            class="checker.framework.separated.view.views.tree.SeparatedChangesView"
            id="checker.framework.separated.view.views.tree.SeparatedChangesView">
      </view>
      <view
            name="Separated Errors View"
            icon="icons/sample.gif"
            category="checker.framework.separated.view"
            class="checker.framework.separated.view.views.list.SeparatedErrorsView"
            id="checker.framework.separated.view.views.list.SeparatedErrorsView">
      </view>
      
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="checker.framework.separated.view.views.tree.SeparatedChangesView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
     point="org.eclipse.ui.commands">

     <category
       id="checker.framework.separated.propagator.category"
       name="Type Qualifier Inference Category">
     </category>
   
     <command
       categoryId="checker.framework.separated.propagator.category"
       defaultHandler="checker.framework.separated.propagator.commands.InferNullnessCommandHandler"
       id="checker.framework.separated.propagator.infernullness"
       name="Infer Nullness Qualifiers">
      </command>

   </extension>
   
   <extension
     point="org.eclipse.ui.menus">
     <menuContribution
       locationURI="popup:org.eclipse.ui.popup.any?after=additions">
       <menu
         id="checker.framework.change.propagator.menu"
         label="Type Qualifier Inference">
         <command
           commandId="checker.framework.separated.propagator.infernullness"
           label="Infer Nullness Qualifiers (Separated Changes View)"
           style="push">
         </command>
       </menu>
     </menuContribution>
   </extension>
</plugin>
