<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Error-Centric Category"
            id="checker.framework.errorcentric.view">
      </category>
      <view
            name="Error-Centric View"
            icon="icons/sample.gif"
            category="checker.framework.errorcentric.view"
            class="checker.framework.errorcentric.view.views.ChangesView"
            id="checker.framework.errorcentric.view.views.ChangesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="checker.framework.errorcentric.view.views.ChangesView">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
     point="org.eclipse.ui.commands">

     <category
       id="checker.framework.errorcentric.propagator.category"
       name="Type Qualifier Inference Category">
     </category>
   
     <command
       categoryId="checker.framework.errorcentric.propagator.category"
       defaultHandler="checker.framework.errorcentric.propagator.commands.InferNullnessCommandHandler"
       id="checker.framework.errorcentric.propagator.infernullness"
       name="Infer Nullness Qualifiers">
      </command>

   </extension>
   
   <extension
     point="org.eclipse.ui.menus">
     <menuContribution
       locationURI="popup:org.eclipse.ui.popup.any?after=additions">
       <menu
         id="checker.framework.change.propagator.menu"
         label="Type Qualifier Inference">
         <command
           commandId="checker.framework.errorcentric.propagator.infernullness"
           label="Infer Nullness Qualifiers (Error-Centric View)"
           style="push">
         </command>
       </menu>
     </menuContribution>
   </extension>

</plugin>
