<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Type Qualifier Inference"
            id="checker.framework.errorcentric.view">
      </category>
      <view
            name="Cascade"
            icon="icons/sample.gif"
            category="checker.framework.errorcentric.view"
            class="checker.framework.errorcentric.view.views.ErrorCentricView"
            id="checker.framework.errorcentric.view.views.ErrorCentricView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               relative="org.eclipse.ui.views.ContentOutline"
               relationship="stack"
               id="checker.framework.errorcentric.view.views.ErrorCentricView">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
     point="org.eclipse.ui.commands">

     <category
       id="checker.framework.errorcentric.propagator.category"
       name="Type Qualifier Inference Category">
     </category>
   
     <command
       categoryId="checker.framework.errorcentric.propagator.category"
       defaultHandler="checker.framework.errorcentric.propagator.commands.InferNullnessCommandHandler"
       id="checker.framework.errorcentric.propagator.infernullness"
       name="Infer Nullness Qualifiers">
      </command>

   </extension>
   
   <extension
     point="org.eclipse.ui.menus">
     <menuContribution
       locationURI="popup:org.eclipse.ui.popup.any?after=additions">
       <menu
         id="checker.framework.change.propagator.menu"
         label="Type Qualifier Inference">
         <command
           commandId="checker.framework.errorcentric.propagator.infernullness"
           label="Infer Nullness Qualifiers"
           style="push">
         </command>
       </menu>
     </menuContribution>
   </extension>

   <extension
     point="org.eclipse.ui.commands">

     <category
       id="checker.framework.errorcentric.propagator.category"
       name="Type Qualifier Inference Category">
     </category>
   
     <command
       categoryId="checker.framework.errorcentric.propagator.category"
       defaultHandler="checker.framework.errorcentric.propagator.commands.InferTypeQualifierCommandHandler"
       id="checker.framework.errorcentric.propagator.infertypequalifier"
       name="Infer Type Qualifiers">
      </command>

   </extension>
   
   <extension
     point="org.eclipse.ui.menus">
     <menuContribution
       locationURI="popup:org.eclipse.ui.popup.any?after=additions">
       <menu
         id="checker.framework.change.propagator.menu"
         label="Type Qualifier Inference...">
         <command
           commandId="checker.framework.errorcentric.propagator.infertypequalifier"
           label="Infer Type Qualifiers..."
           style="push">
         </command>
       </menu>
     </menuContribution>
   </extension>



</plugin>
