<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            class="checker.framework.quickfixes.CheckerQuickFixProcessor"
            id="checker.framework.quickfixes.quickFixProcessor">
      </quickFixProcessor>
   </extension>
-->
  <extension
    point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
      markerType="checker.framework.eclipse.plugin.marker"
      class="checker.framework.quickfixes.CheckerResolutionGenerator">
    </markerResolutionGenerator>
  </extension>

</plugin>
